@import './Components/Header/Header.scss';
@import './Components/Footer/Footer.scss';
@import './Components/Categories/Categories.scss';
@import './Components/Products/Products.scss';

.App {
  text-align: center;
  font-family: Arial, sans-serif;

  main {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
}
